

<!DOCTYPE html>
<html ng-app="todoApp">
<head>
	<title>To-Do App</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/ngAlertify.js"></script>
<script src="main.js"></script>
</head>
<body>

	<header>
		<h1>System<small> add list</small></h1>
	
	</header>

	<div id="container" ng-controller="main">

		<div class="todo-header clearfix js-toggler" data-target="todo-list">
			<div class="todo-count">
				<span><strong>{{todos.length}}</strong></span>
			</div>
			<h2>
				<i class="fa fa-navicon"></i> List
			</h2>
		</div>
	
		<div class="todo-list js-todo-list">
			<div class="inner">
				<div class="item" ng-repeat="todo in todos">
					<div class="inner done-{{todo.done}}">
						<div class="status">
							<input type="checkbox" ng-model="todo.done" />
						</div>
						<div class="text">
							<p>{{todo.text}}</p>
						</div>
						<div class="clearfix"></div>
						<div class="options">
							<span ng-click="edit(todo)" class="btn-edit">
								<i class="fa fa-edit"></i> تعديل
							</span>
							<span ng-click="remove(todo)" class="btn-remove">
								<i class="fa fa-remove"></i> حذف
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="todo-form">
			<form ng-submit="add()">
				<div class="input-group">
					<input type="text" ng-model="todoInput" size="25" placeholder="اضافة عنصر جديد" />
					<button>
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>
